#menu, #familiar, #other {
    height: 0;
    opacity: 0;
    transition: opacity 1s ease;
    margin: 0 auto;
}

#menu-pizza, #menu-burger, #menu-sandwich {
    visibility: collapse;
}

#menu {}

#familiar {}

#other {}