#menu-send {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
}

#menu-send, #familiar-send, #other-send {
    margin-top: 1rem;
}

#menu, #familiar, #other {
    text-align: center;
    opacity: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 1rem;
    visibility: hidden;
    transition: opacity .5s ease;
}

#container {
    padding-top: 1rem;
}

#drink-radios {
    margin-bottom: 1rem;
}

#familiar-drink-2  {
    margin-top: .5rem;
}

#menu-selects, #two-ing, #two-ing-familiar {
    margin-top: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
}

#familiar-drink, #familiar-drink-2 {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
}

#close {
    height: 25px;
    cursor: pointer;
}

.veil {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 255ms ease, visibility 255ms ease;
}

#pop {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 2.5rem 5rem;
}

.veil-active {
    visibility: visible;
    opacity: 1;
}

.telepizza-button {
    border: 2px solid black;
    padding: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: border .5s ease, background-color .5s ease, color .5s ease;
}

.telepizza-button:hover, .telepizza-active {
    border: 2px solid red;
    color: black;
    background-color: white;
}

.table-title {
 text-align: center;   
}